In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [2]:
covidtests = pd.read_csv('../COVID-19/data_tables/testing_data/time_series_covid19_US.csv')

In [3]:
covidtests = covidtests.loc[covidtests.state == 'NY']
covidtests

,date,state,cases_conf_probable,cases_confirmed,cases_probable,tests_viral_positive,tests_viral_negative,tests_viral_total,tests_antigen_positive,tests_antigen_total,people_viral_positive,people_viral_total,people_antigen_positive,people_antigen_total,encounters_viral_total,tests_combined_total
22327,3/2/2020,NY,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0
22328,3/3/2020,NY,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0
22329,3/4/2020,NY,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,10.0,10.0
22330,3/5/2020,NY,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,30.0,30.0
22331,3/6/2020,NY,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,122.0,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35937,12/3/2021,NY,2734874.0,2734874.0,0.0,NaN,NaN,NaN,NaN,NaN,2734874.0,NaN,NaN,NaN,81343769.0,81343769.0
35993,12/4/2021,NY,2744781.0,2744781.0,0.0,NaN,NaN,NaN,NaN,NaN,2744781.0,NaN,NaN,NaN,81551600.0,81551600.0
36049,12/5/2021,NY,2755192.0,2755192.0,0.0,NaN,NaN,NaN,NaN,NaN,2755192.0,NaN,NaN,NaN,81786116.0,81786116.0
36105,12/6/2021,NY,2761270.0,2761270.0,0.0,NaN,NaN,NaN,NaN,NaN,2761270.0,NaN,NaN,NaN,81908452.0,81908452.0
36161,12/7/2021,NY,2769480.0,2769480.0,0.0,NaN,NaN,NaN,NaN,NaN,2769480.0,NaN,NaN,NaN,82057636.0,82057636.0

In [4]:
covidtests.to_csv('../data/nycovidtests.csv')

In [5]:
covidvaccine = pd.read_csv('../COVID-19/data_tables/vaccine_data/us_data/time_series/people_vaccinated_us_timeline.csv')

In [6]:
covidvaccine = covidvaccine.loc[covidvaccine['Province_State'] ==  'New York']
covidvaccine

,FIPS,Province_State,Country_Region,Date,Lat,Long_,Combined_Key,People_Fully_Vaccinated,People_Partially_Vaccinated
13743,36.0,New York,US,2020-12-10,42.1657,-74.9481,"New York, US",NaN,NaN
13744,36.0,New York,US,2020-12-11,42.1657,-74.9481,"New York, US",NaN,NaN
13745,36.0,New York,US,2020-12-12,42.1657,-74.9481,"New York, US",NaN,NaN
13746,36.0,New York,US,2020-12-13,42.1657,-74.9481,"New York, US",NaN,NaN
13747,36.0,New York,US,2020-12-14,42.1657,-74.9481,"New York, US",NaN,NaN
...,...,...,...,...,...,...,...,...,...
14101,36.0,New York,US,2021-12-03,42.1657,-74.9481,"New York, US",13384272.0,1952576.0
14102,36.0,New York,US,2021-12-04,42.1657,-74.9481,"New York, US",13406951.0,1973494.0
14103,36.0,New York,US,2021-12-05,42.1657,-74.9481,"New York, US",13434407.0,1985054.0
14104,36.0,New York,US,2021-12-06,42.1657,-74.9481,"New York, US",13452409.0,1990643.0
14105,36.0,New York,US,2021-12-07,42.1657,-74.9481,"New York, US",13466844.0,2001314.0

In [7]:
covidvaccine.to_csv('../data/nycovidvaccine.csv')

In [8]:
vaccinedoses = pd.read_csv('../COVID-19/data_tables/vaccine_data/us_data/time_series/vaccine_data_us_timeline.csv')

In [9]:
vaccinedoses = vaccinedoses.loc[vaccinedoses['Province_State'] == 'New York']
vaccinedoses

,Province_State,Date,Vaccine_Type,FIPS,Country_Region,Lat,Long_,Doses_alloc,Doses_shipped,Doses_admin,Stage_One_Doses,Stage_Two_Doses,Combined_Key
74915,New York,2020-12-10,All,36.0,US,42.1657,-74.9481,NaN,NaN,NaN,NaN,NaN,"New York, US"
74916,New York,2020-12-10,Moderna,36.0,US,42.1657,-74.9481,NaN,NaN,NaN,NaN,NaN,"New York, US"
74917,New York,2020-12-10,Pfizer,36.0,US,42.1657,-74.9481,NaN,NaN,NaN,NaN,NaN,"New York, US"
74918,New York,2020-12-11,All,36.0,US,42.1657,-74.9481,NaN,NaN,NaN,NaN,NaN,"New York, US"
74919,New York,2020-12-11,Moderna,36.0,US,42.1657,-74.9481,NaN,NaN,NaN,NaN,NaN,"New York, US"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76858,New York,2021-12-07,Pfizer,36.0,US,42.1657,-74.9481,NaN,21568725.0,18175891.0,NaN,7575684.0,"New York, US"
76859,New York,2021-12-07,Moderna,36.0,US,42.1657,-74.9481,NaN,13133580.0,11323324.0,NaN,4717191.0,"New York, US"
76860,New York,2021-12-07,Unknown,36.0,US,42.1657,-74.9481,NaN,0.0,12187.0,NaN,NaN,"New York, US"
76861,New York,2021-12-07,All,36.0,US,42.1657,-74.9481,NaN,36401405.0,30772072.0,15468158.0,12399912.0,"New York, US"
76862,New York,2021-12-07,Unassigned,36.0,US,42.1657,-74.9481,NaN,0.0,0.0,14297467.0,107037.0,"New York, US"

In [10]:
vaccinedoses.to_csv('../data/nyvaccinedoses.csv')

In [17]:
nyboroughsinfections = pd.read_csv('../COVID-19/data_tables/Data_for_UScounty_map/NY_Boroughs_Confirmed.csv')

In [18]:
nyboroughsinfections

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,...,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20
0,0,36005,Bronx,New York,US,23426,24587,25638,27014,28016,...,55408,55501,55621,55682,55809,55915,56032,56212,56384,56521
1,1,36047,Kings,New York,US,28183,29250,31279,32499,33729,...,73409,73597,73772,73892,74106,74323,74627,74962,75334,75509
2,2,36061,New York,New York,US,13740,14188,15539,15952,16404,...,33609,33714,33818,33879,34006,34104,34219,34376,34606,34702
3,3,36081,Queens,New York,US,33616,34831,36220,37447,38733,...,75814,75995,76133,76276,76475,76591,76775,77035,77321,77519
4,4,36085,Richmond,New York,US,8236,8504,8822,9166,9414,...,16888,16962,17010,17072,17136,17191,17268,17424,17515,17555

In [19]:
nyboroughsinfections.to_csv('../data/nyboroughsconfirmed.csv')

In [20]:
nyboroughsdeaths = pd.read_csv('../COVID-19/data_tables/Data_for_UScounty_map/NY_Boroughs_Deaths.csv')

In [21]:
nyboroughsdeaths

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,...,10/30/20,10/31/20,11/1/20,11/2/20,11/3/20,11/4/20,11/5/20,11/6/20,11/7/20,11/8/20
0,0,36005,Bronx,New York,US,1512,1584,1749,1802,1917,...,4060,4061,4063,4064,4064,4070,4071,4073,4074,4079
1,1,36047,Kings,New York,US,1869,1954,2189,2293,2490,...,5753,5754,5757,5759,5764,5770,5773,5780,5785,5790
2,2,36061,New York,New York,US,756,771,927,1004,1088,...,2550,2550,2552,2552,2552,2552,2553,2552,2551,2551
3,3,36081,Queens,New York,US,2105,2179,2324,2402,2543,...,6062,6062,6063,6063,6065,6066,6067,6067,6068,6069
4,4,36085,Richmond,New York,US,345,349,369,385,406,...,910,910,910,912,913,913,915,915,915,916

In [22]:
nyboroughsdeaths.to_csv('../data/nyboroughsdeaths.csv')